<% @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
      <p class="card-text">Price per night: <%= flat.price_per_night %>$  | Number of guests: <%= flat.number_of_guests %></p>
      <a href="#" class="card-link"><%= link_to "More details", flat_path(flat) %> </a>
      <a href="#" class="card-link"><%= link_to "Edit", edit_flat_path %> </a>
      <a href="#" class="card-link"><%= link_to "Delete",flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </a>
    </div>
  </div>
<% end %>
